@charset "utf-8";
body {
    min-width: 970px;
}

section.container {
    position: relative;
    width: 970px;
    margin: 0 auto;
    overflow: hidden;
}

div.banner {
    width: 7760px;
    transition: transform 0.3s;
    /* transform: translate(-90vw); */
}

div.banner div {
    width: 970px;
    height: 40vh;
    float: left;
    background-size: 100%;
}

div.move-arrow {
    z-index: 1;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    position: absolute;
    /* right: 100px;
    bottom: 20px; */
    width: 6%;
    height: 3vh;
}

div.move-arrow div {
    background-color: white;
    width: 25%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

div.prev {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIvPgogICAgICAgIDxwYXRoIHN0cm9rZT0iI0ZGRiIgc3Ryb2tlLXdpZHRoPSIxLjciIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgZD0ibTE0IDE5LTctNyA3LTciLz4KICAgIDwvZz4KPC9zdmc+Cg==');
    left: 0%;
    top: 600% !important;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(0,0,0,.15);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: absolute;
    top: 7.5rem;
    cursor: pointer;
}

div.next {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTAgMGgyNHYyNEgweiIvPgogICAgICAgIDxwYXRoIHN0cm9rZT0iI0ZGRiIgc3Ryb2tlLXdpZHRoPSIxLjciIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgZD0ibTEwIDE5IDctNy03LTciLz4KICAgIDwvZz4KPC9zdmc+Cg==');
    left: 1600%;
    top: 600% !important;
    width: 2.5rem;
    height: 2.5rem;
    background-color: rgba(0,0,0,.15);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    position: absolute;
    top: 7.5rem;
    cursor: pointer;
}

div.buttons {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 5px;
}

div.buttons button {
    background: white;
}

div.buttons button:nth-child(1) {
    background-color: black;
    color: white;
}